body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
    flex-direction: column;
    overflow: hidden;
}

.seccion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    width: 90%;
}

.card {
    color: rgba(255, 255, 255, 0.931);
    width: 180px;
    height: 270px;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.692);
    background: #ec7332;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
 img{
    height: 160px;
 }
